* {
    font-family: monospace;
}
h1 {
    text-align: center;
    font-size: 400%;
    position: relative;
}


.rank {
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
    padding: 2px;
    display: block;
    position: relative;
}

.init {
    justify-content: center;
}
#start {
    background-color:green;
    color: honeydew;
    margin: 2%;
    border-radius: 4%;
    width: 50%;
    height: 50%;
    padding: 1%;
    margin-left: 24%;
    font-size: xx-large;
    box-shadow: 5px 5px 10px grey;
}
#start:hover {
    background-color: darkred;
    cursor: pointer;
}

.timersection {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}
#timer {
    font-size: 160%;
    color: red;
    font-weight: 400;
}
#main {
    text-align: center;
    color:rgb(27, 2, 2);
    text-shadow: 4px 4px 4px white;
    background-color: powderblue;
    font-size: 300%;
    padding: 10px;
}

.button {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}
.optionA, .optionB, .optionC, .optionD {
    box-sizing: border-box;
    justify-content: space-between;
    height: auto;
    width: 45%;
    padding: 4%;
    margin: 8px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 2%;
    color: white;
    font-size: 200%;
    background-color:rgb(82, 24, 82);
    cursor: pointer;
}

.optionA:hover {
    background-color: rgb(29, 105, 105);
    transition: 0.4s;
}

.optionB:hover {
    background-color: rgb(29, 105, 105);
    transition: 0.4s;
}

.optionC:hover {
    background-color: rgb(29, 105, 105);
    transition: 0.4s;
}

.optionD:hover {
    background-color: rgb(29, 105, 105);
    transition: 0.4s;
}



.winImage {
    display: none;
}

img {
    width: 40%;
    height: auto;
    display: block;
    position: relative;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: -10%;
    border-radius: 5%;
    box-shadow: 5px 5px 8px grey;
    transform: rotate(8deg);
    cursor: pointer;
    padding: 1px;
    background-color:gold;
    border-style: groove;
}
img:hover {
    content: url(../resources/zero.jpeg);
    transform: rotate(-367deg);
    width: 100%;
    margin-left: 0%;
    transition: 0.9s;
    box-shadow: 15px 15px 18px 18px grey;
    padding: 0px;
    background-color: none;
    border-style: none;
}

img:active{
    content: url(../resources/nothing.jpeg);
    transform: rotate(367deg);
    border-style: double;
    padding: 0px;
    background-color: none;
    width: 40%;
    margin-left: 30%;
    transition: 0.7s;
    box-shadow: 15px 15px 15px 15px grey;
    image-orientation: from-image;
}

.message, #warning {
    font-size: 200%;
    justify-content: center;
    text-align: center
}

footer {
    padding: 30px;
    clear: both;
    font-family: monospace;
    text-align: center;
  }

@media screen and (max-width: 768px) {
    .optionA, .optionB, .optionC, .optionD {
    width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .optionA, .optionB, .optionC, .optionD {
        width: 100%
            }
}
